@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏垂直滚动条 */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* 左滑动动画start */

.slide-left-enter-active,
.slide-left-leave-active {
    @apply transition duration-300 ease-in-out;
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX(100%);
}

.slide-left-enter-to,
.slide-left-leave-from {
    transform: translateX(0);
}


/* 左滑动动画end */

/* 定义滚动条的样式 */
.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* 当内容溢出时显示滚动条 */
.scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: 40px; /* 设置滚动条的最小高度 */
}

/* 当内容没有溢出时隐藏滚动条 */
.scrollbar::-webkit-scrollbar-thumb:vertical:active,
.scrollbar::-webkit-scrollbar-thumb:horizontal:active {
    height: 0;
}
